#faune {
    border-radius: 10px;
  }
  
  #floreblue {
    border-radius: 10px;
  }
  
  #inde {
    border-radius: 10px;
  
  }
  
  #pont {
    border-radius: 10px;
  
  }
  
  #rome {
    border-radius: 10px;
  
  }